.container {
    max-width: 70rem;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-White);
    flex-wrap: wrap;

    @media(max-width: 800px) {
        width: 95%;
        // min-height: 100%;
        margin:3rem auto ;
        // margin: 4rem auto;
    }




}

.section-image {
    flex: 0 0 50%;
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;

    @media(max-width: 800px) {
        height: 20rem;
        flex:0 0 100%;
        background-size: cover;
        background-position: center;
    }

    ;
}

.section-details {


    padding: 4rem;



    flex: 1;


  
}

.section-price {
    margin-top: 2rem;
    display: flex;

    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

}

.price {
    font-family: 'Fraunces';
    font-size: 4rem;
    color: var(--color-Dark-cyan);
}

.price-before {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--color-Dark-grayish-blue);

}